@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Roboto fonts */
@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

/* Import Roboto Mono fonts */
@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Medium.ttf");

  font-weight: 500;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Regular.ttf");

  font-weight: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-SemiBold.ttf");

  font-weight: 600;
}

@layer base {
  :root {
    font-size: var(--root-font-size);
    @apply font-sans;
  }

  body {
    @apply bg-gray-100 text-gray-800;
  }

  .center {
    @apply flex items-center justify-center;
  }

  input,
  textarea {
    @apply focus:ring-1 focus:ring-steel-blue-500;
  }
}

@layer components {
  .btn {
    @apply bg-steel-blue-700 px-4 py-2 rounded text-white hover:bg-steel-blue-800;
  }

  .btn-error {
    @apply bg-error-800 px-4 py-2 rounded text-white hover:bg-error-900;
  }

  .input {
    @apply border border-gray-400 rounded shadow-sm focus:ring-1 focus:ring-steel-blue-500;
  }

  .form-error {
    @apply text-xs text-error-600;
  }
}

@layer utilities {
  .dashed-error {
    background-image: repeating-linear-gradient(
      -45deg,
      rgb(153 27 27 / var(--tw-bg-opacity)),
      rgb(153 27 27 / var(--tw-bg-opacity)) 1rem,
      #ffffff40 1rem,
      #ffffff40 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 5s linear infinite;
  }

  .dashed-primary {
    background-image: repeating-linear-gradient(
      -45deg,
      rgb(75 85 99 / var(--tw-bg-opacity)),
      rgb(75 85 99 / var(--tw-bg-opacity)) 1rem,
      #ffffff40 1rem,
      #ffffff40 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 5s linear infinite;
  }

  .dashed-transparent {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      #ffffff40 1rem,
      #ffffff40 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 5s linear infinite;
  }

  .bg-pattern {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23234774' fill-opacity='0.6' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 10%;
    overflow: hidden;
  }

  .bg-radial-white {
    background: radial-gradient(white, rgba(255, 255, 255, 0.75));
    background-size: 100% 300%;
    background-position: center;
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
