@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Roboto fonts */
@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("./_common/assets/fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

/* Import Roboto Mono fonts */
@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Medium.ttf");

  font-weight: 500;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-Regular.ttf");

  font-weight: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./_common/assets/fonts/roboto_mono/RobotoMono-SemiBold.ttf");

  font-weight: 600;
}

@layer base {
  :root {
    font-size: var(--root-font-size);
    @apply font-sans;
  }

  body {
    @apply bg-gray-100 text-gray-800;
  }

  .center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .btn {
    @apply bg-steel-blue-700 px-4 py-2 rounded text-white hover:bg-steel-blue-800;
  }

  .btn-error {
    @apply bg-error-800 px-4 py-2 rounded text-white hover:bg-error-900;
  }

  .input {
    @apply border border-gray-400 rounded shadow-sm;
  }
}

@layer utilities {
  .dashed-error {
    background-image: repeating-linear-gradient(
      -45deg,
      rgb(153 27 27 / var(--tw-bg-opacity)),
      rgb(153 27 27 / var(--tw-bg-opacity)) 1rem,
      #ffffff40 1rem,
      #ffffff40 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 5s linear infinite;
  }

  .dashed-primary {
    background-image: repeating-linear-gradient(
      -45deg,
      rgb(75 85 99 / var(--tw-bg-opacity)),
      rgb(75 85 99 / var(--tw-bg-opacity)) 1rem,
      #ffffff40 1rem,
      #ffffff40 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 5s linear infinite;
  }

  .dashed-transparent {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      #ffffff40 1rem,
      #ffffff40 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 5s linear infinite;
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
